/* Global variables. */
:root {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  /* Default (light) theme */
  --bg: #fff;
  --accent-bg: #f5f7ff;
  --text: #212121;
  --text-light: #585858;
  --border: #d8dae1;
  --accent: #0d47a1;
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
}

/* Reset box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--sans-font);
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  color: var(--text);
  background: var(--bg);
  line-height: 1.5;
}

main {
  padding-top: 1.5rem;
  min-width: 400px;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-family: "Arial";
  text-align: center;
  font-weight: bolder;
}

a,
a:visited {
  color: var(--accent);
}

a:hover {
  text-decoration: none;
}

fieldset {
  border: 4px solid var(--border);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}

fieldset#profile {
  border: none;
}

fieldset legend {
  color: #777;
  font-weight: bold;
}

fieldset#profile legend {
  display: none;
}

input[type="submit"],
input[type="number"],
select {
  width: 100px;
  padding: 5px 0;
}

form button {
  border: 1px solid var(--accent);
  border-radius: 10px;
  padding: 0.7rem 0.9rem;
  margin: 20px auto;
  text-align: center;
  display: block;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bolder;
  background-color: #007bff;
  color: #fff;
}

form button:focus,
form button:enabled:hover {
  filter: brightness(1.4);
  cursor: pointer;
  background-color: var(--accent);
}

.CodeMirror {
  border: 1px solid #aaa;
  height: 20%;
  width: 100%;
}

/** Code for hover info **/

dfn {
  display: block;
  float: left;
  clear: left;
  font-weight: bold;
  width: 300px;
  height: 100%;
  padding: 0 0.4em;
  cursor: help;
  font-style: normal;
  position: relative;
}

dfn label {
  border-bottom: dashed 1px gray;
}

dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px;
  left: 0;
  opacity: 0;
  width: 230px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5em;
  padding: 0 0.8em;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  transition: opacity 250ms, top 250ms;
}

dfn::before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 20px;
  opacity: 0;
  width: 0;
  height: 0;
  border: solid transparent 5px;
  border-bottom-color: rgba(0, 0, 0, 0.8);
  transition: opacity 250ms, top 250ms;
}

dfn:hover {
  z-index: 2;
} /* Keeps the info boxes on top of other elements */
dfn:hover::after,
dfn:hover::before {
  opacity: 1;
}
dfn:hover::after {
  top: 30px;
}
dfn:hover::before {
  top: 20px;
}

#log {
  background-color: #eee;
  font-family: "Courier";
  font-weight: bold;
  padding: 10px;
  height: 340px;
  overflow: scroll;
  border-radius: 15px;
}

#log p {
  margin: 0;
  padding: 0;
}
#log p.ok {
  color: green;
}
#log p.error {
  color: red;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-25deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-25deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

footer {
  margin: 50px 0 0 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}
